<!-- Navbar -->
<div class="section-navbar">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">

      <a class="navbar-brand logo" href="dashboard.html"><img
          src="../../Files/components/homepage/Logo-full-transparent.png" alt=""></a>
      <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse  navbar-konten" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#features">Fitur</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="umkm.html">UMKM</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tentang-kami">Tentang Kami</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#kontak-kami">Hubungi Kami</a>
          </li>

        </ul>

        <!-- Desktop -->
        <ul class="navbar-nav d-none d-lg-flex">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown">
              <img src="../../Files/components/user.svg" alt="" class="rounded-circle mr-2 profile-picture" />
              Hi, Hafiz
            </a>
            <div class="dropdown-menu">
              <a href="dashboard.html" class="dropdown-item">Dashboard</a>
              <a href="settings.html" class="dropdown-item">Settings</a>
              <div class="dropdown-divider"></div>
              <a href="home.html" class="dropdown-item">Logout</a>
            </div>
          </li>


        </ul>
        <!-- mobile -->
        <ul class="navbar-nav d-block d-lg-none">
          <a href="settings.html" class="nav-link">Hi, Hafiz</a>
          <a href="home.html" class="nav-link">Logout</a>
        </ul>
      </div>
  </div>
  </nav>
</div>
</div>
