html {
  scroll-behavior: smooth;
}

.slide-fade-enter-active {
  transition: all 0.2s ease;
}

.slide-fade-leave-active {
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0.5;
}

// Navbar-section
.section-navbar {
  // z-index: 999;
  // overflow: hidden;
  // position: fixed;
  // top: 0;
  // width: 100%;
  background-color: #9360fa !important;
  .container {
    .navbar {
      .logo {
        img {
          width: 184px;
        }
      }

      .navbar-konten {
        a {
          color: white !important;
          font-size: 20px;

          &:hover {
            color: rgb(95, 250, 255) !important;
            transition: all 0.4s ease-in-out;
            font-weight: bold;
          }
          &:active {
            color: #eca100;
            font-weight: bold;
          }
        }

        ul {
          margin-top: 10px;
          li {
            font-family: "Ubuntu", sans-serif;
            font-weight: 400;
            margin-right: 25px;

            .dropdown-menu {
              a {
                color: rgb(37, 37, 37) !important;
              }
            }
          }
        }

        button {
          color: black;
          margin-top: 10px;
          font-family: "Ubuntu", sans-serif;
          background-color: #00fff7;
          padding: 10px 20px;

          &:hover {
            background-color: rgb(250, 78, 158);
            font-weight: bold;
            color: white;
          }
        }
      }
    }
  }
}

.judul {
  font-family: "Bebas Neue";
  font-weight: normal;
  font-size: 40px;
  letter-spacing: 0.01em;
  line-height: 52px;
  text-align: center;
  color: #7611c3;
  margin-bottom: 30px;
}

//Footer
.section-footer {
  padding-top: 50px;
  background-color: #9360fa;
  color: #ffe66c;
  h5 {
    font-weight: bold;
  }
  a {
    color: #ffe66c;
  }
  .copy {
    height: 30px;
    padding-bottom: 50px;
    background-color: #ffffff;
    color: #9360fa;
    p {
      font-weight: 400 !important;
    }
  }
}

// media screen
