html {
  scroll-behavior: smooth;
}

.section-navbar {
  background-color: #9360fa !important;
}

.section-navbar .container .navbar .logo img {
  width: 184px;
}

.section-navbar .container .navbar .navbar-konten a {
  color: white !important;
  font-size: 20px;
}

.section-navbar .container .navbar .navbar-konten a:hover {
  color: #5ffaff !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
}

.section-navbar .container .navbar .navbar-konten a:active {
  color: #eca100;
  font-weight: bold;
}

.section-navbar .container .navbar .navbar-konten ul {
  margin-top: 10px;
}

.section-navbar .container .navbar .navbar-konten ul li {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  margin-right: 25px;
}

.section-navbar .container .navbar .navbar-konten ul li .dropdown-menu a {
  color: #252525 !important;
}

.section-navbar .container .navbar .navbar-konten button {
  color: black;
  margin-top: 10px;
  font-family: "Ubuntu", sans-serif;
  background-color: #00fff7;
  padding: 10px 20px;
}

.section-navbar .container .navbar .navbar-konten button:hover {
  background-color: #fa4e9e;
  font-weight: bold;
  color: white;
}

.section-hero {
  background-image: url(../../../Files/components/homepage/bg-hero.png);
  min-height: 860px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.section-hero .kiri img {
  height: 416px;
}

.section-hero .kanan {
  padding-right: 120px;
}

.section-hero .kanan p {
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.section-hero .kanan .cari-warga {
  padding: 10px 25px;
  border-radius: 3px;
  background: #00ffae;
  -webkit-box-shadow: 0px 0px 5px #474747;
          box-shadow: 0px 0px 5px #474747;
  margin-right: 36px;
  margin-top: 52px;
  color: black;
}

.section-hero .kanan .cari-warga:hover {
  background-color: #1dfff0;
  font-weight: 500;
  -webkit-box-shadow: 0px 0px 5px #00dcec;
          box-shadow: 0px 0px 5px #00dcec;
}

.section-hero .kanan .eksplorasi {
  color: black;
  padding: 10px 25px;
  border-radius: 3px;
  background: #a7efff;
  -webkit-box-shadow: 0px 0px 5px #47768a;
          box-shadow: 0px 0px 5px #47768a;
  margin-top: 52px;
}

.section-hero .kanan .eksplorasi:hover {
  color: #00dcec;
  background-color: white;
  font-weight: 500;
  -webkit-box-shadow: 0px 0px 5px #00dcec;
          box-shadow: 0px 0px 5px #00dcec;
}

.section-features {
  margin-top: 100px;
  margin-bottom: 200px;
  font-family: "Helvetica", sans-serif;
}

.section-features .heading {
  color: #9360fa;
  margin-bottom: 20px;
}

.section-features .heading h2 {
  font-size: 40px !important;
  font-weight: bold !important;
}

.section-features .heading hr {
  width: 322.27px;
  height: 5px;
  background-color: #9360fa;
  border-radius: 50px;
}

.section-features .features-content {
  margin-top: 20px;
}

.section-features .features-content .card {
  margin-top: 40px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #e4e4e4;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.16);
  padding: 29px 28px;
}

.section-features .features-content hr {
  text-align: center;
}

.section-features .features-content h1 {
  font-size: 18px;
  font-weight: bold;
}

.section-features .features-content p {
  text-align: justify;
  font-size: 16px;
}

.section-about-us {
  padding-top: 50px;
  background-image: url(../../../Files/components/homepage/bg-about.png);
  -webkit-filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.16));
          filter: drop-shadow(0px 8px 5px rgba(0, 0, 0, 0.16));
  min-height: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
  margin-top: 100px;
  color: white;
}

.section-about-us .heading {
  margin-bottom: 50px;
}

.section-about-us .heading h2 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.section-about-us .about-us-content .logo-about {
  margin-top: 46px;
  margin-bottom: 85px;
}

.section-about-us .about-us-content .konten {
  width: 352px;
  padding: 20px 50px;
}

.section-about-us .about-us-content .konten h1 {
  text-align: center;
}

.section-about-us .about-us-content .konten hr {
  width: 400px;
  border: 1px solid;
}

.section-about-us .about-us-content .konten ul {
  list-style: none;
  padding-right: 20px;
}

.section-kata-mereka {
  margin-top: 150px;
  font-family: Helvetica, sans-serif;
}

.section-kata-mereka .heading {
  margin-bottom: 90px;
}

.section-kata-mereka .heading h2 {
  font-size: 40px;
  font-weight: bold;
  color: #9360fa;
}

.section-kata-mereka .heading hr {
  width: 322.27px;
  height: 5px;
  background-color: #9360fa;
  border-radius: 50px;
}

.section-kata-mereka .section-content {
  margin-bottom: 80px;
}

.section-kata-mereka .section-content .konten .card {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 5px #9360fa;
          box-shadow: 0px 0px 5px #9360fa;
}

.section-kata-mereka .section-content .konten .card .katamereka-konten {
  min-height: 300px;
}

.section-kata-mereka .section-content .konten .card h3 {
  font-family: "Assistant";
  font-weight: 600;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #ff5507;
}

.section-kata-mereka .section-content .konten .card .quotes {
  font-family: "Assistant";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #959595;
  min-height: 150px;
}

.section-kata-mereka .section-content .konten .card hr {
  margin-bottom: 85px;
  margin-left: -20px;
  margin-right: -20px;
}

.section-kata-mereka .section-content .btn-narahubung {
  border-radius: 5px;
  background-color: #9360fa;
  font-family: Assistant;
  font-weight: 600;
  font-size: 19px;
  text-align: left;
  color: #fff;
  padding: 14px 45px !important;
  margin-top: 60px;
}

.section-kata-mereka .section-content .btn-narahubung:hover {
  background: #db03a5;
  color: #1bffc6;
}

.section-kata-mereka .section-content .btn-letStart {
  border-radius: 5px;
  background: #ffb158;
  font-family: Assistant;
  font-weight: 600;
  font-size: 19px;
  text-align: left;
  color: #fff;
  padding: 14px 49px !important;
  margin-top: 60px;
}

.section-kata-mereka .section-content .btn-letStart:hover {
  background: #003ec5;
  color: #c4f6ff;
}

.section-footer {
  padding-top: 50px;
  background-color: #9360fa;
  color: #ffe66c;
}

.section-footer h5 {
  font-weight: bold;
}

.section-footer a {
  color: #ffe66c;
}

.section-footer .copy {
  height: 30px;
  padding-bottom: 50px;
  background-color: #ffffff;
  color: #9360fa;
}

.section-footer .copy p {
  font-weight: 400 !important;
}

@media screen and (max-width: 1000px) {
  .section-navbar .navbar-konten {
    margin-left: 0px !important;
  }
  .section-navbar .navbar-konten ul {
    margin-top: 10px;
  }
  .section-navbar .navbar-konten ul li {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    margin-right: 25px;
    border-bottom: 1px solid antiquewhite;
  }
  .section-navbar .navbar-konten ul li a {
    color: white !important;
    font-size: 20px;
  }
  .section-navbar .navbar-konten ul li a:hover {
    color: #5ffaff !important;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-weight: bold;
    border-bottom: 1px solid aqua;
  }
  .section-navbar .navbar-konten button {
    margin-top: 20px !important;
    margin-bottom: 20px;
  }
  .section-hero {
    min-height: 760px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
  }
  .section-hero .kiri img {
    height: 250px;
    margin-bottom: 50px;
  }
  .section-hero .kanan {
    padding-right: 0px;
  }
  .section-hero .kanan p {
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 26px;
  }
  .section-about-us .about-us-content .logo-about {
    margin-top: 46px;
    margin-bottom: 20px;
  }
  .section-about-us .about-us-content .logo-about img {
    height: 150px;
  }
  .section-about-us .about-us-content .konten {
    width: 352px;
    padding: 20px 50px;
  }
  .section-about-us .about-us-content .konten h1 {
    font-size: 28px;
    text-align: center;
  }
  .section-about-us .about-us-content .konten hr {
    width: 180px;
    border: 1px solid;
  }
  .section-about-us .about-us-content .konten ul {
    font-size: 13px;
    list-style: none;
    padding-right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */