{% extends "base.html" %}

{% block content %}

<!-- Hero Section  -->
<div class="section-hero">
  <div class="container ">
    <div class="row">
      <div class="col-lg-6 col-md-12 kiri"><img src="../../Files/components/homepage/hero-img.png" alt=""></div>
      <div class="col-lg-6 col-md-12 kanan">
        <p>Platform Digital Warga Pintar,
          dengan fitur melimpah membuat
          hubungan antar warga menjadi
          lebih asyik!</p>

        <div class="justify-content-center">
          <a href="signin.html"><button class="btn btn-outline-success mulai" type="button">Mulai</button></a>
          <a href="signin.html"><button class="btn btn-outline-success eksplorasi" type="button">Eksplorasi
              RW</button></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Features Section -->
<div class="section-features" id="features">
  <div class="container">
    <section class="heading">
      <div class="row">
        <div class="col text-center 
               section-features-heading">
          <h2>Features</h2>
          <hr>
        </div>
      </div>
    </section>

    <section class="features-content">
      <div class="justify-content-center row">

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="konten">
            <div class="card text-center">
              <h1>SISTEM MANAJEMEN RT/RW</h1>
              <hr>
              <p>Manajemen lengkap bagi pengurus
                yang sibuk mulai dari dashboard
                informasi , pengelolaan data warga
                (pendaftaran dan validasi), histori/
                sejarah warga yang pernah tinggal
                dalam satu rumah (pemilik/sewa),
                pengelolaan kas, pengelolaan
                informasi, pengelolaan surat
                menyurat mulai dari persetujuan
                sampai pembuatan dokumen surat
                secara otomatis.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="konten">
            <div class="card text-center">
              <h1>BROADCAST INFORMASI</h1>
              <hr>
              <p>Pengurus maupun warga dapat berbagi
                Informasi dalam bentuk gambar maupun
                teks terkait lingkungan tempat tinggal
                dan bisa berdasarkan preferensi penerima,
                contoh: Berita hanya bisa dibaca oleh kaum
                perempuan karena terkait berita kegiatan arisan.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="konten">
            <div class="card text-center">
              <h1>DIGITALISASI DOKUMEN</h1>
              <hr>
              <p>Warga dapat langsung mengajukan
                perihal dokumen / surat menyurat
                yang diperlukan. Ada proses persetujuan
                serta otomatis dokumen akan terbit
                dan dapat di-unduh.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="konten">
            <div class="card text-center">
              <h1>CHAT ANTAR WARGA <br> (Rilis
                Dalam Waktu Dekat)</h1>
              <hr>
              <p>Dengan kesibukan warga, terjadinya
                fenomena didalam lingkungan satu
                warga tidak mengenal warga lainnya.
                Fasilitas chat ini berguna untuk
                meminimalkan kejadian diatas dalam hal
                mengenal warga lainnya melalui fasilitas chat,
                tanpa harus tahu nomor pribadi warga yang bersangkutan.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="konten">
            <div class="card text-center">
              <h1>FORUM JUAL BELI <br> ( Rilis
                Dalam Waktu Dekat )</h1>
              <hr>
              <p>Transaksi Jual beli sudah biasa
                dilakukan warga ketika acara-acara
                offline seperti arisan maupun online
                menggunakan Whatsapp group. RWPINTAR
                menyediakan forum jual beli yang bisa
                secara COD maupun terintegrasi dengan
                pembayaran digital.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="konten">
            <div class="card text-center">
              <h1>UMKM <br>( Rilis
                Dalam Waktu Dekat )</h1>
              <hr>
              <p>Warga yang berwirausaha akan sangat mendapatkan manfaat dari
                program ini, karena data UMKM yang ada di RW
                akan dipublish dan di promosikan keluaar sehingga
                dapat dilihat oleh orang banyak, terlebih
                jika produk yang dimiliki bagus.</p>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>


{% endblock %}
