{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Konten Section  -->
<div class="mt-5 settings-section-content container " data-aos="fade-up">
  <div class="container-fluid ">
    <div class="heading">
      <h2 class="title">My Account</h2>
      <p class="subtitle">Update your current profile</p>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-12">
          <form action="">
            <div class="card">
              <div class="card-body">
                <div class="row mb-2">

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="namaDepan">Nama Depan</label>
                      <input type="text" class="form-control" id="namaDepan" aria-describedby="emailHelp"
                        name="namaDepan" value="Muhammad Hafiz " </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="namaBelakang">Nama Belakang</label>
                          <input type="text" class="form-control" id="namaBelakang" aria-describedby="emailHelp"
                            name="namaBelakang" value="Hisbullah" />
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="NIK">NIK</label>
                          <input type="number" class="form-control" id="NIK" aria-describedby="emailHelp" name="NIK"
                            value="1232314423412" />
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="TTL">Tanggal Lahir</label>
                          <input type="date" class="form-control" id="TTL" aria-describedby="emailHelp" name="TTL"
                            value="28/10/2001" />
                        </div>
                      </div>

                      <div class="col-md-12 jenis-kelamin">
                        <div class="form-group">
                          <label>Jenis Kelamin</label>
                          <div class="row ml-1">
                            <div class="form-check">
                              <label class="form-check-label" for="Laki">
                                Laki-laki
                              </label>
                              <input checked class="form-check-input" type="radio" name="gender" id="Laki"
                                value="option1">
                            </div>
                            <div class="form-check">
                              <label class="form-check-label" for="Perempuan">
                                Perempuan
                              </label>
                              <input class="form-check-input" type="radio" name="gender" id="Perempuan" value="option2">
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="Email">Email</label>
                          <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" name="Email"
                            value="hafichever@gmail.com" />
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="password">Password</label>
                          <input type="password" class="form-control" id="password" aria-describedby="passwordHelp"
                            name="password" value="hafichever" />
                          <input type="checkbox" onclick="myFunction()">Show Password
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="mobile">Mobile</label>
                          <input type="text" class="form-control" id="mobile" name="mobile" value="+628 1312 88199" />
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col text-right">
                        <button type="submit" class="btn btn-success px-5">
                          Save Now
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  function myFunction() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>

{% endblock %}
