html {
  scroll-behavior: smooth;
}

// Navbar-section
.section-navbar {
  // z-index: 999;
  // overflow: hidden;
  // position: fixed;
  // top: 0;
  // width: 100%;
  background-color: transparent !important;

  .container {
    .navbar {
      .logo {
        img {
          width: 184px;
        }
      }

      .navbar-konten {
        a {
          color: white !important;
          font-size: 20px;

          &:hover {
            color: rgb(95, 250, 255) !important;
            transition: all 0.4s ease-in-out;
            font-weight: bold;
          }
          &:active {
            color: #eca100;
            font-weight: bold;
          }
        }

        ul {
          margin-top: 10px;
          li {
            font-family: "Ubuntu", sans-serif;
            font-weight: 400;
            margin-right: 25px;

            .dropdown-menu {
              a {
                color: rgb(37, 37, 37) !important;
              }
            }
          }
        }

        button {
          color: black;
          margin-top: 10px;
          font-family: "Ubuntu", sans-serif;
          background-color: #00fff7;
          padding: 10px 20px;

          &:hover {
            background-color: rgb(250, 78, 158);
            font-weight: bold;
            color: white;
          }
        }
      }
    }
  }
}

//Hero Section
.section-hero {
  background-image: url(../../../Files/components/UMKM/backdrop_umkm.svg);
  min-height: 660px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -120px;
  padding-top: 180px;
}

//konten
.konten-section {
  .title-konten {
    color: #7611c3;
    font-family: "Bebas Neue";
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 0.01em;
  }

  .umkm-konten {
    border-radius: 7px;
    background: #f3f3f3;
    padding: 20px 29px;

    .umkm-title {
      font-family: Arial;
      font-weight: bold;
      font-size: 20px;
      columns: #333;
      margin-top: 10px;
    }

    .konten-isi {
      background-color: white;
      border-radius: 5px;
      padding: 8px 15px;

      p {
        font-family: Helvetica;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #000;
      }
      a {
        color: #9360fa;
        &:hover {
          color: #2d0974;
        }
      }
    }
  }
}

//Footer
.section-footer {
  padding-top: 50px;
  background-color: #9360fa;
  color: #ffe66c;
  h5 {
    font-weight: bold;
  }
  a {
    color: #ffe66c;
  }
  .copy {
    height: 30px;
    padding-bottom: 50px;
    background-color: #ffffff;
    color: #9360fa;
    p {
      font-weight: 400 !important;
    }
  }
}

// media screen
@media screen and (max-width: 1000px) {
  .section-navbar {
    background-color: #9360fa !important;

    .logo {
      img {
        width: 124px !important;
      }
    }
    .navbar-konten {
      margin-left: 0px !important;

      ul {
        margin-top: 10px;
        li {
          font-family: "Ubuntu", sans-serif;
          font-weight: 400;
          margin-right: 25px;
          border-bottom: 1px solid antiquewhite;

          a {
            color: white !important;
            font-size: 20px;

            &:hover {
              color: rgb(95, 250, 255) !important;
              transition: all 0.4s ease-in-out;
              font-weight: bold;
              border-bottom: 1px solid aqua;
            }
          }
        }
      }

      button {
        margin-top: 20px !important;
        margin-bottom: 20px;
      }
    }
  }

  .section-hero {
    margin-top: 0px;
    min-height: 460px;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 160px;

    img {
      height: 150px;
      margin-bottom: 10px;
    }
  }
}
